@page
@model ServiceKit.CSIT.CSP.Pages.Clients.ClientServicesModel

@{
    ViewData["Title"] = "ClientServices";
}

<h1>ClientServices</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table datatable sortable">
    <thead>
        <tr>
            <th>
                Заказчик
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientService[0].OriginalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientService[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientService[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientService[0].YearPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientService[0].IsDeleted)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ClientService)
        {
            <tr>
                <td>
                    @item.Client?.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
            </tr>
        }
    </tbody>
</table>
